@using DMX.DataProtection
@using Microsoft.AspNetCore.Identity
@inject RoleManager<AppRole> rol;
@model DMX.ViewModels.RolePermissionVM
        
      


<div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="mb-0">
        Add/Remove Roles for <br />
        <b>@rol.FindByIdAsync(@Model.RoleId).Result.Rolename</b>
    </h6>
    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
</div>
<div class="container py-4">
    <h3>xxxxxxxxxxxxxxx</h3>
    <div class="mb-4">
        
        <button class="btn btn-primary btn-sm me-2">All</button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3">
@foreach (var permission in Model.AvailableClaims)
{
    <div class="card">
                
            <div class="card-body">
               <div class="card-text">@permission.Text</div>
                <span class="fw-semibold">@permission.Text</span>
            </div>
        </div>
    
}
</div>
</div>

<div class="text-end mt-3">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>


                                    <script>
    $(document).ready(function () {
        $("#checkAll").on("change", function () {
            $(".toggle-switch").prop("checked", this.checked);
           
        });
    });
</script>








