
@model DMX.ViewModels.AddTravelTypeVM;

<div class="slide-panel" data-panel="travelPanel" id="travelPanel">
    <div class="card">
        <div class="card-header">
                <h6 class="d-inline">Add Travel Type</h6>
            
            <button id="btnCloseTravel" type="button" name="nCloseTravelPanel" data-close="travelPanel" class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>

        </div>
             @using (Html.BeginForm("AddTravelType", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Name" id="txtAddTravelName"    required>
                        <label  for="txtAddTravelName">Name</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Code"id="txtAddTravelCode"   required>
                        <label  for="txtAddTravelCode">Code</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Description"  id="txtAddTravelDescription"  placeholder="" required>
                        <label  for="txtAddTravelDescription">Description</label>
                    </div>
                   
                    </div>

                    <div class="card-footer"><button class="btn btn-block btn-primary">Save</button></div>
                }
            </div>
    </div>


