

input[type=file]::file-selector-button {
    border: 1px solid #3d85d8;
    background-color: #4e73df;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #3d85d8;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file]::file-selector-button::before {
    
   
}