

input[type=file]::file-selector-button{
   
    border:none;
    content:"Choose Photo";
    background-color:#4e73df;
    border-radius:10px;

}

input[type=file]::file-selector-button::before {
    
    content:'\f093';
}