


.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
}

/* Label */
/*.did-floating-label {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 13px;
    color: #1e4c82;
    background: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: 0.2s ease;
}*/

/* Inputs */
/*.did-floating-input,
.did-floating-select {
    width: 100%;
    height: 36px;
    padding: 0 16px;
    font-size: 12px;
    border: 1px solid #3D85D8;
    border-radius: 4px;
    background: #fff;
}

    .did-floating-input:focus,
    .did-floating-select:focus {
        outline: none;
    }*/

        /* Floating logic */
        /*.did-floating-input:focus ~ .did-floating-label,
        .did-floating-input:not(:placeholder-shown) ~ .did-floating-label,
        .did-floating-select:not([value=""]) ~ .did-floating-label {
            top: -8px;
            font-size: 12px;
        }*/

/* Select arrow */
/*select.did-floating-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6'%3E%3Cpath d='M0,0 4,6 8,0Z' fill='%23003d71'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
}*/

/* =====================
       INPUT GROUP (ICON)
    ====================== */
/*.input-group {
    display: flex;
    height: 36px;
}

.input-group-text {
    width: 42px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3D85D8;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background: #fff;
    padding: 0;
    font-size: 12px;
}

.input-group .did-floating-input {
    height: 36px;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding-left: 10px;
}*/

/* Label offset for icon */
/*.input-group .did-floating-label {
    left: 52px;
}

.input-group .did-floating-input:focus ~ .did-floating-label,
.input-group .did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
    left: 48px;
    top: -8px;
}*/

/* Error state */
/*.did-error-input .did-floating-input,
.did-error-input .did-floating-select {
    border: 2px solid #9d3b3b;
    color: #9d3b3b;
}

.did-error-input .did-floating-label {
    color: #9d3b3b;
    font-weight: 600;
}*/

