
.modal-body .iframe-container {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow:auto;
}

    .modal-body .iframe-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
