
.dropdown-item-custom {
    /*display: block;*/
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
  background-color: transparent;
    border: 0;
    
}

    .dropdown-item-custom:hover, .dropdown-item-custom:focus {
       /* color: #fff;*/
        text-decoration: none;
       /* background-color: #448aff;*/
    }

    .dropdown-item-custom.active, .dropdown-item-custom:active {
       /* color: #fff;*/
        text-decoration: none;
       /* background-color: #448aff;*/
    }


.accordion .card-
:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    font-family: 'FontAwesome';
    content: "\f067";
    float: right;
}

hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 100vh;
    width: 1px;
}

.toggle-checkbox {
    display: none;
}

.slider {
    position: relative;
}

    /* ellipsis */
    .slider::before {
        background: lightblue;
        border-radius: 34px;
        bottom: 0;
        content: '';
        height: 24px;
        margin: auto;
        position: absolute;
        top: 0;
        width: 40px;
    }

    /* circle */
    .slider::after {
        background: navy;
        border-radius: 50%;
        bottom: 0;
        content: '';
        height: 16px;
        left: 4px;
        margin: auto;
        position: absolute;
        top: 0;
        transition: 0.4s;
        width: 16px;
    }

.toggle-switch {
    margin-left: 50px;
}

    .toggle-switch.opt1 {
        color: navy;
    }

    .toggle-switch.opt2 {
        color: brown;
        display: none;
    }

.toggle-checkbox:checked + .slider::before {
    background-color: lightsalmon;
}

.toggle-checkbox:checked + .slider::after {
    background-color: maroon;
    transform: translateX(16px);
}

.toggle-checkbox:checked ~ .slider > .toggle-switch.opt1 {
    display: none;
}

.toggle-checkbox:checked ~ .slider > .toggle-switch.opt2 {
    display: inline-block;
}
/*IDCard*/
.container {
    position: relative;
/*    background-image: url("images/bg.png");*/
    background-color:black;
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .logo img {
        width: 48px;
        margin-right: 10px;
    }



header .chip {
    width: 60px;
}


h5.number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
}

.container .card-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card .card-header .card-header-right {
    right: 10px;
    top: 13px;
    display: inline-block;
    float: right;
    padding: 7px 0;
    position: absolute;
}

@media only screen and (max-width: 575px) {
    .card .card-header .card-header-right {
        display: none;
    }
}

.card .card-header .card-header-right i {
    margin: 0 7px;
    cursor: pointer;
    font-size: 12px;
    color: #8c8c8c;
    line-height: 2;
}

.card .card-header .card-header-right .card-option {
    width: 35px;
    height: 20px;
    overflow: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

    .card .card-header .card-header-right .card-option li {
        display: inline-block;
    }
.collectionButton {
    background-color: white;
    color: #593bdb
}

.csvButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius: 20px;
}
.pdfButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius: 20px;
}
.printButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius: 20px;
}
.copyButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius: 20px;
}
.colvisButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius:20px;
}
.searchBuilderButton {
    background-color: white;
    color: #593bdb;
    border-color: #593bdb;
    margin: 2px;
    border-radius: 20px;
}
.card-headerStyle {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    padding: 1.25rem 1.25rem 5px;
    
}

/*styling select2*/
.select2.select2-container {
    width: 100% !important;
}

    .select2.select2-container .select2-selection {
        border: 1px solid #3d85d8;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 4px;
        height: 36px;
        padding:0 13px;
        margin-bottom: 15px;
        outline: none !important;
        transition: all 0.15s ease-in-out;
    }

        .select2.select2-container .select2-selection .select2-selection__rendered {
            color: #333;
            line-height: 32px;
            padding-right: 33px;
        }

        .select2.select2-container .select2-selection .select2-selection__arrow {
            background: #f8f8f8;
            border-left: 1px solid #3d85d8;
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            height: 34px;
            width: 33px;
        }

    .select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
        background: #f8f8f8;
    }

        .select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
            -webkit-border-radius: 0 3px 0 0;
            -moz-border-radius: 0 3px 0 0;
            border-radius: 0 3px 0 0;
        }

    .select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
        border: 1px solid #34495e;
    }

    .select2.select2-container .select2-selection--multiple {
        height: auto;
        min-height: 34px;
    }

        .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
            margin-top: 0;
            height: 32px;
        }

        .select2.select2-container .select2-selection--multiple .select2-selection__rendered {
            display: block;
            padding: 0 4px;
            line-height: 29px;
        }

        .select2.select2-container .select2-selection--multiple .select2-selection__choice {
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 4px 4px 0 0;
            padding: 0 6px 0 22px;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            position: relative;
        }

            .select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
                position: absolute;
                top: 0;
                left: 0;
                height: 22px;
                width: 22px;
                margin: 0;
                text-align: center;
                color: #e74c3c;
                font-weight: bold;
                font-size: 16px;
            }

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
}

    .select2-container .select2-dropdown .select2-search {
        padding: 0;
    }

        .select2-container .select2-dropdown .select2-search input {
            outline: none !important;
            border: 1px solid #34495e !important;
            border-bottom: none !important;
            padding: 4px 6px !important;
        }

    .select2-container .select2-dropdown .select2-results {
        padding: 0;
    }

        .select2-container .select2-dropdown .select2-results ul {
            background: #fff;
            border: 1px solid #34495e;
        }

            .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
                background-color: #3498db;
            }


.icon-button {
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    color: #333333;
    background: #593bdb;
    border: none;
    outline: none;
    border-radius: 50%;
    animation: pulse-shadow 3s linear infinite;
}
    .icon-button:hover {
        cursor: pointer;
    }

    .icon-button:active {
        background: #cccccc;
    }
    .icon-button::after{
        display:none;
    }
.icon-button__badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 15px;
    height: 15px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#counter{
    color:white!important;
    font-size:10px!important;
}


@keyframes pulse {
    0% {
        transform:scale(1);
        opacity:0.4;
        box-shadow: 0 0 0 0 rgba(--primary,0.4);
    }

    100% {
        transform:scale(3);
        box-shadow: 0 0 0 2px #6b51df;
        opacity:0;
    }
}
@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(--primary, 0.4);
    }

    100% {
        box-shadow: 0 0 0 calc((3rem - 1) *(3rem / 2)) rgba(--primary, 0)
    }
}



::-webkit-scrollbar {
    display: none;
}

/*xxxxxxxxxxxxxxxxxxx*/



#notification-list {
  
    max-height: 300px;
    overflow-y: scroll;
    width:400px;

}
.message {
    border-bottom: 0.5px #eaeaea solid;
    padding:15px 17px 12px 14px;
    
}
.notificationli{
    
    border-bottom:0.5px #eaeaea solid  ;
}
.notificationli:hover
{
    
    border-left:3.5px #593bdb solid;
}

:root {
    --background: 107,81,223;
    --size: 2.5rem;
    --duration: 3s;
    --scale: 3;
    --opacity: 0.4;
}
.status__icon {
    width: var(--size);
    height: var(--size);
    background: rgb(var(--background));
    border-radius: 100%;
    position: relative;
    animation: pulse-shadow var(--duration) calc(2 * var(--duration) / 3) linear infinite
}

    .status__icon::after, .status__icon::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(var(--background));
        border-radius: 100%;
    }

    .status__icon:after {
        animation: pulse var(--duration) linear infinite
    }

    .status__icon:before {
        animation: pulse var(--duration) calc(var(--duration) / 3) linear infinite
    }

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: var(--opacity);
    }

    100% {
        transform: scale(var(--scale));
        opacity: 0;
    }
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--background), var(--opacity))
    }

    100% {
        box-shadow: 0 0 0 calc((var(--scale) - 1) * var(--size) / 2) rgba(var(--background), 0)
    }
}

/*radiobuttons*/


/*label {
    display: block;
    
}*/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top:auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 13px;
    width: 13px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    vertical-align:middle;
    
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #593bdb;
    }

        .option-input:checked::before {
            width: 13px;
            height: 13px;
            display: flex;
            content: '\f00c';
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            align-items: center;
            justify-content: center;
            font-family: 'FontAwesome';
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: #40e0d0;
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }

       


        /*fieldset*/
.fieldset {
    margin: 0 0 30px 0;
    border: 1px solid #ccc;
}

.legend {
    background: #eee;
   padding: 4px 10px;
    color: #000;
    margin: 0 auto;
    display: block;
}

#pills-home-tab.active{
    
    background-color:white !important;
                 color:black !important;
                     font-weight:600;
}
#pills-profile-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-contact-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
  .d-none{
      display:none;
  } 
  .d-block{display:block;}

.icon-link {
    background-color:red;
   
 
    width: 15px;
    height: 15px;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/*Profile page css starts*/
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}
/*Profile page css end*/