#pills-home-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}

#pills-profile-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-profile-tab {
   
    color: white !important;
    font-weight: 600;
   
}

#pills-contact-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-contact-tab {
  
    color: white !important;
    font-weight: 600;
}
