#pills-deceased-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-deceased-tab {
    color: white !important;
    font-weight: 600;
}

#pills-traveltypes-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-traveltypes-tab {
    color: white !important;
    font-weight: 600;
}
#pills-fees-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-fees-tab {
   
    color: white !important;
    font-weight: 600;
   
}
#pills-perdiem-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-perdiem-tab {
    color: white !important;
    font-weight: 600;
}

#pills-departments-tab.active {
    background-color: white !important;
    color: black !important;
    font-weight: 600;
}
#pills-departments-tab {
  
    color: white !important;
    font-weight: 600;
}
    #pills-transportAllowances-tab.active {
        background-color: white !important;
        color: black !important;
        font-weight: 600;
    }

#pills-transportAllowances-tab {
    color: white !important;
    font-weight: 600;
}