.slide-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Hide panel off-screen initially */
    width: 300px;
    height: 100%;
    background: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 20px;
}

    .slide-panel.open {
        right: 0;
    }

dialog.slide-panel {
 /*   position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    border: none;
    margin: 0;
    padding: 20px;
    transition: right 0.3s ease;*/
}

dialog[open].slide-panel {
   
    position: fixed;
    top: 0;
    left: 1400px;
    width: 500px;
    height: 100%;
    border: none;
    margin: 0;
    padding: 20px;
    transition: right 0.3s ease;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}