@using DMX.DataProtection
@* @{
    Layout = "~/Views/Shared/_Layout.cshtml";
} *@
@model DMX.ViewModels.FeesVM;

<div class="card shadow mb-4">
    <div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary d-inline">Setup Fees Charges</h6>

       
    </div>
    <div class="card-body">


<form class="form-group" asp-controller="Settings" method="post">
    <div class="row">
        <div class="col">
    <div class="did-floating-label-content">
  
    <input type="number" asp-for="@Model.Tier1" id="numMorgueT1" class="did-floating-input" placeholder="" />
    <label class="did-floating-label" for="numMorgueT1" name="numMorgueT1">Morgue Tier 1 Charge</label>
</div>
                </div> 
                <div class="col-sm">
 
    <input class="btn btn-outline-secondary" type="submit" asp-action ="EditTier1" value="Edit"/>
    <input class="btn btn-outline-secondary" asp-action="SaveTier1" type="submit" value="Save"/>

</div>
            </div>
</form>

        <form class="form-group" asp-controller="Settings" method="post">
            <div class="row">
                <div class="col-sm">
                    <div class="did-floating-label-content">

                        <input type="number" asp-for="@Model.Tier2" id="txtMorgueTier2" name="txtMorgueTier2" class="did-floating-input" placeholder="" />
                        <label class="did-floating-label" for="txtMorgueTier2">Morgue Tier 2 Charge</label>
                    </div>
                </div>
                <div class="col-sm">
                    
                        <input class="btn btn-md btn-outline-secondary" type="submit"id="btnEditTier2" name="btnEditTier2" asp-action="EditTier2" value="Edit" />
                        <input class="btn btn-outline-secondary" asp-action="SaveTier2" type="submit" value="Save" />
                   
                </div>
            </div>
        </form>


        <form class="form-group" asp-controller="Settings" method="post">

            <div class="row">
                <div class="col-sm">
                    <div class="did-floating-label-content">

                        <input type="number" asp-for="@Model.PCThreshold" id="numPettyCashThreshold" name="numPettyCashThreshold" class="did-floating-input" placeholder="" required />
                <label class="did-floating-label" for="numPettyCashThreshold">Petty Cash Threshold</label>
                </div>
                </div>
                <div class="col-sm">
                    <input class="btn btn-outline-secondary" type="submit" asp-action="EditPCThreshold" value="Edit"/>
                    <input class="btn btn-outline-secondary" type="submit" asp-action="SavePCThreshold" value="Save"/>
                </div>

            </div>
        </form>

    </div>
    </div>


