
@model DMX.ViewModels.AddUserVM 


       
<div class="modal fade" id="AddUser" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add User</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div> 
            @using (Html.BeginForm("AddUser", "Account", FormMethod.Post))
            {
            <div class="modal-body">
                       
                                    <div class="did-floating-label-content">
                        <input class="did-floating-input" asp-for="@Model.Username" placeholder="" required />
                                <label class="did-floating-label">Username</label>
                            </div>

                    <div class="did-floating-label-content">
   
                                    <input class="did-floating-input" type="password" asp-for="@Model.Password" placeholder="" required  />
                        <label class="did-floating-label">Password</label>
                                </div>
                       
                         
                                <div class="did-floating-label-content">

                        <select id="selectRole" class="did-floating-select" style="width:100%" asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" multiple="multiple"></select>
                              <label class="did-floating-label">Select Role(s)</label>
                            </div>
                        
                       
                       
                    </div>
                <div class="modal-footer">  <button class="btn btn-block btn-primary"><i class="fa fa-fw fa-lg"></i>Save</button></div>
                }
                </div>
            </div>
</div>

    <script>
        $(document).ready(function () {


            $('#selectRole').select2({
                dropdownParent: $('#AddUser')
            });

        });


</script>










