



@model DMX.ViewModels.ViewPettyCashLimitVM






<div id="PlaceHolderHere"></div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Set Limit</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-bs-toggle="ajax-modal" data-bs-target="#AddPerDiem" data-bs-url="@Url.Action("AddPerDiem")"><i class="fa fa-fw fa-plus-circle"></i>Add Perdiem</button>

    </div>
    <div class="card-body">
     <form>
        <div class="input-group">
            <input type="text" class="form-control" asp-for="Amount" placeholder="Cash Limit" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" asp-action="SavePCLimit" asp-controller="Settings" formmethod="post">Edit</button>
                <button class="btn btn-outline-secondary" type="submit" asp-action="SavePCLimit" asp-controller="Settings" formmethod="post">Save</button>
            </div>
        </div>
        </form>
       
        
    </div>
    <div class="card-footer">
    </div>
</div>
