



@model DMX.ViewModels.ViewPettyCashLimitVM






<div id="PlaceHolderHere"></div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Set Limit</h6>


    </div>
    <div class="card-body">
     <form>
        <div class="input-group">
            <input type="number" class="form-control"  id="limitValue" name="limitValue" asp-for="@Model.Amount" readonly/>
<input value="@Model.LimitId" asp-for="@Model.LimitId" type="hidden" hidden />
            <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="editBtn" onclick="enableEdit()">Edit</button>
                <button class="btn btn-outline-secondary" type="submit" id="saveBtn" disabled asp-action="SavePCLimit" asp-controller="Settings" formmethod="post">Save</button>
            </div>
        </div>
        </form>
       
        
    </div>
    <div class="card-footer">
    </div>
</div>
<script>
    function enableEdit() {
        document.getElementById("limitValue").removeAttribute("readonly");
        document.getElementById("saveBtn").disabled = false;
        document.getElementById("editBtn").disabled = true;
    }
</script>