
@model DMX.ViewModels.DetailMemoVM;

<div class="modal fade" id="DetailMemo" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Memo Detail</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

                <div class="row mb-4">
                    <div class="card border-dark">
                <div class="card-body ">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <h5>Sender</h5>@Model.Sender
                            </div>
                            <div class="col-sm-6">
                                <h5>Recipient</h5>@Model.Recipient
                            </div>
                        </div> <!-- end of row -->
                </div>
            </div>
            </div>
                <div class="row mb-4">
                    <div class="card-body border-dark">
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="card-body border-dark">
                    </div>
                </div>

                <a class="btn btn-block btn-primary" asp-action="ViewDocuments" asp-controller="Document">Return</a>
          
        </div>

    </div>
</div>
</div>
