
@model DMX.ViewModels.AddTransportModeVM;

<div class="slide-panel" data-panel="transportPanel" id="transportPanel">
    <div class="card">
        <div class="card-header">
                <h6 class="d-inline">Add Transport Mode</h6>
            
            <button id="closeTransportPanel" type="button" data-close="transportPanel"  class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>

        </div>
             @using (Html.BeginForm("AddTransportMode", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Name" id="txtAddTransportName"    required/>
                        <label  for="txtAddTransportName">Name</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Code"id="txtAddTransportCode"   required/>
                        <label  for="txtAddTransportCode">Code</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Description"  id="txtAddTransportDescription"  placeholder="" required/>
                        <label  for="txtAddTransportDescription">Description</label>
                    </div>
                   
                    </div>

                    <div class="card-footer"><button class="btn btn-block btn-primary">Save</button></div>
                }
            </div>
    </div>


